@font-face {
  font-family: 'robotoslab-bold';
  src: url(fontfamily/RobotoSlab-Bold.ttf);
}

@font-face {
  font-family: 'roboto-thin';
  src: url(fontfamily/RobotoSlab-Thin.ttf);
}

@font-face {
  font-family: 'roboto-light';
  src: url(fontfamily/RobotoSlab-Light.ttf);
}

@font-face {
  font-family: 'roboto-extralight';
  src: url(fontfamily/RobotoSlab-ExtraLight.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(fontfamily/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: 'Montserrat-regular';
  src: url(fontfamily/Montserrat-Regular.ttf);
}

.list-item {
  display: flex;
  row-gap: 20px;
  background-color: hsl(0, 0%, 100%);
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  padding: 2rem;
  margin: 0.398rem 0;
}

.first {
  width: 45%;
}

.booklist {
  padding: 0 6%;
}

.booklist .borders {
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #e8e8e8;
}

.b-title {
  font-size: 1.375rem;
  font-weight: bold;
  color: #121212;
  font-family: 'robotoslab-bold', sans-serif;
  margin-left: 0;
}

.category {
  color: #6e7173;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 0.875rem;
}

.b-author {
  color: #4386bf;
  font-family: 'roboto-extralight', sans-serif;
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 600;
}

.total {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.vertical {
  border-right: 1px solid #e8e8e8;
  margin: 5%;
  margin-left: 10%;
}

.book {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.book p {
  margin: 0.5%;
}

.buttongroup {
  display: flex;
  margin-top: 4%;
}

.buttongroup button {
  width: 4.563rem;
  padding: 0;
  border: none;
  background-color: hsl(0, 0%, 100%);
  color: #4386bf;
  font-family: 'roboto-extralight', sans-serif;
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  text-align: left;
}

.borderline {
  color: #e8e8e8;
  border-right: 1px solid;
  margin-right: 4%;
}

.second {
  display: flex;
}

.percent {
  display: flex;
  align-items: center;
}

.complete {
  margin-left: 5%;
  margin-top: 0;
  color: rgb(18, 18, 18);
  font-family: 'Montserrat-regular', serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.value {
  font-size: 2rem;
  margin-bottom: 0;
}

.completed {
  margin-top: 0;
  font-size: 0.875rem;
  opacity: 0.5;
  color: #121212;
}

.progress-bar {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  transform: rotate(45deg);
}

.third {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  padding-left: 6%;
  width: 60%;
}

.current-chapter {
  opacity: 0.5;
  font-family: "roboto-light", serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(18, 18, 18);
}

.num-chapter {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "roboto-light", serif;
  color: rgb(18, 18, 18);
  letter-spacing: -0.4px;
}

.update {
  width: 11.5rem;
  height: 2.063rem;
  font-family: "roboto-light", serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  background-color: #0290ff;
  margin-top: 1rem;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  border: none;
  margin-left: 5%;
}

.third p {
  margin: 0.438rem;
}
