@font-face {
  font-family: 'Montserrat-light';
  src: url(fontfamily/Montserrat-Medium.ttf);
}

@font-face {
  font-family: 'robotoslab-bold';
  src: url(fontfamily/RobotoSlab-Bold.ttf);
}

.container {
  background-color: #fafafa;
  margin: 4%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  margin-top: 2%;
  padding-bottom: 20rem;
}

.add {
  width: 10.875rem;
  height: 1.5rem;
  font-family: 'Montserrat', serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  margin-bottom: 1%;
}

.title,
.author {
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  font-family: 'Montserrat-light', sans-serif;
}

.title {
  width: 50%;
  margin-right: 3%;
  padding: 1% 1%;
  border: 1px solid #e8e8e8;
}

.author {
  width: 27%;
  margin-right: 3%;
  padding: 1% 1%;
}

form button {
  width: 11rem;
  padding: 1.6% 3%;
  background-color: #0290ff;
  border-radius: 3px;
  border: none;
  color: white;
  font-weight: bold;
  font-family: 'robotoslab-bold', sans-serif;
}
