body {
  max-width: 87.5em;
  background-color: #e8e8e8;
}

nav {
  background-color: yellow;
}

.navbar {
  background-color: hsl(0, 0%, 100%);
  padding: 0 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Merriweather', serif;
  margin-bottom: 3%;
}

h1 {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.user {
  background-color: #fafafa;
  color: blue;
  border-radius: 50%;
  padding: 0.875rem;
}

.bookstore {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
